header {
	width: 100vw;
	height: 100vh;
	background: gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

header div{
	min-width: 200px;
	height: 150px;
	flex-basis: 35%;
}

/*main content*/
main {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

main section {
	min-width: 300px;
	max-width: 550px;
	height: 600px;
	flex-basis: 60%;
	margin-top: 20px;
	margin-right: 20px;
}

/*about me*/
#aboutme-container {
	background: yellow;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

#aboutme-container h1 {
	position: relative;
}

#aboutme-container div {
	min-width: 200px;
	min-height: 300px;
	flex-basis: 36%;
}
